/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  color: #2c3e50;
}

.max-width-md {
  max-width: 400px;
}

/* Additional Button Hover Effect */
.btn-primary:hover {
  background-color: #2980b9 !important;
}

.stock-details {
  display: none;
  background-color: #f8f9fa;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
.detail-description {
  font-size: 0.9em;
  color: #6c757d;
}